<?xml version='1.0' encoding='utf-8'?>
<widget
    id="fetch"
    version="1.0.0">
 
    <name>My App</name>
    <description>
        My first Tabris.js app
    </description>
    <author email="me@me.com" href="http://www.me.me">
        Me
    </author>
 
    <access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="true"/>
</widget>