<?xml version='1.0' encoding='utf-8'?>
<widget
    id="my.first.app"
    version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>My App</name>
    <description>
        My first Tabris.js app
    </description>
    <author email="me@me.com" href="http://www.me.me">
        Me
    </author>
 
    <access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="true"/>
</widget>